.trade-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 20px;
}

.trade-container,
.purchase-container {
  flex: 1;
  padding: 20px;
  border-radius: 20px;
}

.trade-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
